# ============================================
# AguaParaíso - Plantilla de variables de entorno
# Copia este archivo como .env y rellena los valores
# ============================================

SECRET_KEY=tu_clave_secreta_aqui
MAX_INTENTOS_LOGIN=3
MINUTOS_BLOQUEO=15
MINUTOS_SESION=120

DB_NAME=aguaparaiso.db
DB_PATH=data/

LOG_PATH=logs/
LOG_FILE=log_parque.txt
LOG_NIVEL=INFO

PARQUE_NOMBRE=AguaParaiso
PARQUE_TEMPORADA=verano
HORA_APERTURA=10:00
HORA_CIERRE=19:00